version: "3"

services:
 todosDB:
  image: postgres:15.3
  container_name: todos_db
  restart: always
  environment:
   POSTGRES_USER: admin
   POSTGRES_PASSWORD: admin123
   POSTGRES_DB: my_database
  ports:
   - "5432:5432"
  volumes:
   - ./postgres_data:/var/lib/postgresql/data
